@{
    ViewData["Title"] = "Access Denied";
}

<div class="jumbotron">
    <h1>Odmowa dostępu!</h1>
    <p>
        <h2>Nie masz praw do przeglądania zawartości tej strony, skontaktuj się z administratorem.</h2>
    </p>
</div>
