@model DentistCalendar.Web.Models.Authorization.ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}

@if (!ViewData.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger"></div>
}

    <form class="form" method="post" novalidate>
        <h2 class="form-heading">Zmiana hasła:</h2>
        <label for="inputOldPassword" class="sr-only">Stare hasło</label>
        <input type="password" asp-for="OldPassword" id="inputOldPassword" class="form-control" placeholder="Stare hasło" required />
        <label for="inputNewPassword" class="sr-only">Nowe hasło</label>
        <input type="password" asp-for="NewPassword" id="inputNewPassword" class="form-control" placeholder="Nowe hasło" required />
        <label for="inputRepeatNewPassword" class="sr-only">Powtórz nowe hasło</label>
        <input type="password" asp-for="RepeatNewPassword" id="inputRepeatNewPassword" class="form-control" placeholder="Powtórz nowe hasło" required />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Zmień hasło!</button>
    </form>

<hr />