@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>Dla wojciech.szwaczka@gmail.com pass: Haslo123$ - sysadmin</p>
        <p>Dla licenseOwner@gmail.com pass: License123$ - licenseOwner - ADMIN</p>
        <p>Dla recepcionistka@dlucikdentalclinic.pl pass: tymczasowe - recepcionist</p>
        <p>Dla krypto@wssolutions.net pass: dentist007 - dentist</p>
        <p>Dla dentysta@mojmailxxoxo.pl pass: dentysta - dentist</p>
        <p>Dla patientmail@gmail.com pass: patient007 - pacjent</p>
    </div>
