<link rel="stylesheet" href="~/css/footer.css" />

<footer class="border-top footer dc-footer">
    <div class="container col-lg-12">
        <div class="float-left">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script> - CarCalendar - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        <div class="float-right">
           Some Text to add
        </div>
    </div>
</footer>