@media (max-width: 991.98px) {

    .serviceTable {
        display: initial;
    }

    .addButton {
        right: 20px;
        z-index: 999;
    }
}

@media (min-width: 992px) {

    .serviceTable {
        display: flex;
    }

    .addButton {
        right: 30px;
        margin-left: 5px;
        margin-top: 5px;
    }
}

.dcDropdownWithMultichoiseOnModal {
    width: -webkit-fill-available !important;
    margin-left: -10px !important;
    margin-right: 10px !important;
}

.tableTittleWithAddButton {
    display: inline-flex;
    width: inherit;
}
