/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.btn-gradient {
    border: 0;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    background: rgb(35,196,249);
    background: -moz-linear-gradient(right, rgba(35,196,249,1) 0%, rgba(218,101,253,1) 100%);
    background: -webkit-linear-gradient(right, rgba(35,196,249,1) 0%,rgba(218,101,253,1) 100%);
    background: linear-gradient(to left, rgba(35,196,249,1) 0%,rgba(218,101,253,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23c4f9', endColorstr='#da65fd',GradientType=1 );
}

.dcDropdownMultichoiseList {
    margin-top: 25px;
    margin-bottom: 5px;
    position: inherit !important;
    height: fit-content;
    border: 1px ridge;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.myFooterPadding {
    padding: 6px 8px 6px 8px;
}